<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="">
    <title>
        <%= appName %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/118dbd8455.js"></script>
    <link rel="stylesheet" href="assets/styles/css/application.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="page-header">
                    <h1>
                        <%= appName %>
                    </h1>
                </header>
            </div>
        </div>
    </div>
    <!-- End page wrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/application.js"></script>
</body>

</html>